---
import Default from '../src/astro/components/Default.astro';
import data from './data.json';
const listings = data.listings
---
<Default data={data}>
  <div slot="pageCustom">
      <section id="main-wrapper" class="mainContent no-scroll-content">
        <h1>Jenny Peterson - Helping you buy, sell, and find your dream home with ease.</h1>
        <div class="text-content scroll-content locni-text-light-color">
          <div class="locni-container">
            <section>
              <div class="no-margin-padding">
                <h2>{data.title}</h2>
                <p>{data.description}</p>
              </div>
              <div class="summary-about locni-section">
                <div class="locni-section-img">
                  <img src={data.about.image} alt={data.agent.name}>
                </div>
                <div class="locni-section-content">
                  <h2>{data.about.title}</h2>
                  <p>{data.about.description}</p>
                  <a class="btn-primary locni-section-btn" href={data.about.link}>Learn More</a>
                </div>
              </div>
              <div class="summary-contact locni-section">
                <div class="summary-contact-content locni-section-content">
                  <h2>{data.contact.title}</h2>
                  <p>{data.contact.description}</p>
                  <a class="btn-primary locni-section-btn" href={data.contact.link}>Working With Me</a>
                </div>
                <div class="summary-contact-img locni-section-img">
                  <img src={data.contact.image} alt={data.agent.name}>
                </div>
              </div>
            </section>
            <section class="services-offers">
              <h2 class="section-title">Services Offers</h2>
              <div class="services-grid">
                {data.services.items.map(service => (
                  <div class="service-card">
                    <img class="service-image" src={service.image} alt={service.title} />
                    <h3 class="service-title">{service.title}</h3>
                    <p class="service-description">{service.description}</p>
                    <a class="btn-primary" href={service.link}>Learn More</a>
                  </div>
                ))}
              </div>
            </section>
            <section class="property-listing">
                <div class="listing-grid">
                  {listings.slice(0, 3).map((listing: any) => (
                  <div class="property-card">
                    <a href={listing.link}>
                      <div class="for-sale-img-contanier">
                        <img src={listing.image} alt="Property"/>
                        {/* <div class="badge">For Sale</div> */}
                      </div>
                      <div class="property-details">
                        <div class="status">
                          <span class="dot"></span> {listing.status}
                        </div>
                        <h2>{listing.price}</h2>
                        <div class="no-padding">
                          <p>{listing.location}</p>
                          <p>{listing.subStats}</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  ))}
              </section>
          </div>
        </div>
      </section>
    </div>
</Default>
<style>
    @media (min-width: 600px) {
      .service-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
      .services-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px; 
      }
      .listing-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
      }
      .property-listing {
        padding: 50px 20px;
      }
    }
    
    .locni-container {
      overflow-x: hidden;
    }
    .summary-contact {
      margin-top: 50px;
      display: flex;
    }
    .locni-section-btn {
      align-self: flex-start;
      margin-top: auto;
    }
    .section-title {
      font-size: 2rem;
      text-transform: uppercase;
    }
    .service-card {
      background-color: #fff;
      padding: 20px;
      text-align: center;
    }
    .service-card:hover {
      transform: translateY(-5px); 
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    }
    .service-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
    }
    .property-card {
      background-color: #fff; 
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      text-decoration: none;
    }
    .property-card a {
      text-decoration: none;
    }
    .property-card:hover {
      transform: translateY(-5px); 
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    }
    .property-card:hover .for-sale-img-contanier img {
      transform: scale(1.1); 
    }
    .property-listing {
      display: grid;
      gap: 10px;
    }
    /* .card-content-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      line-height: 0.5;
    }
    .card-content-header.location {
      word-break: break-word;
      line-height: 1.1;
    } */
    .price-list-property {
      order: 1;
      padding-bottom: 10px;
    }
    </style>
</body>
</html>
