---
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
---

<Default data={data}>
    <div slot="pageCustom">
        <div class="mainContent no-scroll-content" id="main-wrapper">
            <h1>{data.investment_properties.title}</h1>
            <div class="text-content scroll-content">
                <div class="commercial-container locni-container">
                    <p class="locni-description">
                        {data.investment_properties.description}
                    </p>
                    <a class="btn-primary" href={data.investment_properties.link.url}>
                        {data.investment_properties.link.text}
                    </a>
                    <div class="bottom-line"></div>
                    <div class="locni-features">
                        {data.investment_properties.services.map(service => (
                            <div>
                              <h2>{service.title}</h2>
                              <ul>
                                {service.items.map(item => {
                                    if (item.includes(':')) {
                                        const [boldText, normalText] = item.split(':');
                                        return (
                                            <li>
                                                <strong>{boldText}:</strong>{normalText}
                                            </li>
                                        )
                                    } else {
                                        return <li>{item}</li>
                                    }
                                })}
                              </ul>
                              <div class="bottom-line"></div> 
                            </div>
                          ))}
                    <div class="padding-top flex-gap">
                        {data.investment_properties.buttons.map(button => (
                          <a class="btn-primary" href={button.url}>{button.text}</a>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </div>
</Default>
