---
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
---

<Default data={data}>
    <div slot="pageCustom">
        <div class="mainContent no-scroll-content" id="main-wrapper">
            <h1>Decatur, GA Luxury Homes</h1>
            <div class="text-content scroll-content">
                <div class="listing-container">
                    <div class="listings-grid">
                        {
                            data.listings.map((listing) => (
                                <div class="listing-card" key={listing.id}>
                                    <div class="for-sale-img-container">
                                        <img src={listing.image} />
                                        {/* <div class="badge">For Sale</div> */}
                                    </div>
                                    <div class="card-content">
                                        <div class="card-content-header">
                                          <div class="status">
                                            <span class="dot"></span> {listing.status}
                                          </div>
                                            <h2 class="price-list-property">
                                                {listing.price}
                                            </h2>
                                            <p class="location">
                                                {listing.location}
                                            </p>
                                            <p class="sub-stats">
                                                {listing.subStats}
                                            </p>
                                        </div>
                                        <div class="btn-outline listings-btn-outline">
                                            <a href={listing.link}>View Details</a>
                                        </div>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</Default>
