---
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
---
<Default data={data}>
  <div slot="pageCustom">
    <div class="mainContent no-scroll-content" id="main-wrapper">
      <h1>{data.title}</h1>
      <div class="text-content scroll-content">
        <div class="about-container locni-container">
          <div class="about-header locni-section locni-text-light-color">
            <div class="locni-section-img">
              <img
                class="profile-image"
                src={data.about.image} 
                alt={data.agent.name}
              />
              <p class="call-now">CALL NOW: {data.agent.phone}</p>
            </div>
            <div class="about-bio locni-section-content">
              <h2>GET TO KNOW ME</h2>
              <div class="bottom-line-no-padding"></div>
              {data.about_bio.map(p => (
                <p>{p}</p>
              ))}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Default>

<style>
  @media (min-width: 600px) {
    .about-header img {
      max-height: none !important;
    }
    .call-now {
      text-align: left !important;
    }
  }
  .about-header img {
    max-height: 300px;
  }
  .about-bio {
    text-align: left;
    margin: 0px 10px;
  }
  .about-bio h2 {
    padding: 0;
  }
  .call-now {
    text-align: center;
  }
</style>
