---
const { data } = Astro.props;
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{data.title}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <Header title={data.title} subtitle={data.subtitle} />
  <NavBar nav1={data.nav1} nav2={data.nav2} />
  <main>
    <slot />
  </main>
  <Footer footerText={data.footer} />
</body>
</html>
