---
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
---

<Default data={data}>
    <div slot="pageCustom">
        <div class="mainContent no-scroll-content" id="main-wrapper">
            <h1>{data.single_family_homes.title}</h1>
            <div class="text-content scroll-content">
                <div class="residental-container locni-container locni-text-light-color">
                    <a class="btn-primary margin-top " href={data.single_family_homes.link.url}>
                        {data.single_family_homes.link.text}
                    </a>
                    <div class="bottom-line"></div>
                    <h2>{data.single_family_homes.services.title}</h2>
                    <div class="locni-features residental-services">
                        {data.single_family_homes.services.categories.map(category => (
                            <div>
                                <h3>{category.title}</h3>
                                <ul>
                                    {category.items.map(item => (
                                        <li>{item}</li>
                                    ))}
                                </ul>
                            </div>
                        ))}
                    </div>
                    <div class="bottom-line"></div>
                    <h2>{data.single_family_homes.faqs.title}</h2>
                    {data.single_family_homes.faqs.questions.map(faq => (
                        <>
                            <h4>Q: {faq.question}</h4>
                            <p>{faq.answer}</p>
                        </>
                    ))}
                    <div class="bottom-line"></div>
                    <h2>{data.single_family_homes.contact.title}</h2>
                    <p>{data.single_family_homes.contact.text}</p>
                    <div class="padding-top flex-gap">
                        {data.single_family_homes.buttons.map(button => (
                            <a class="btn-primary" href={button.url}>
                                {button.text}
                            </a>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </div>
</Default>

<style>
    .residental-services h3 {
        font-size: 1.2rem;
        margin-bottom: 8px;
        color: #555;
        text-align: left;
    }
</style>
