---
import ImageSlider from "../src/astro/components/ImageSlider.astro";
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
import { generateStaticPaths, findListingById, getTruncatedText, getRelatedListings } from "src/scripts/property.details/listing";

export function getStaticPaths() {
  return generateStaticPaths(data);
}

const id = Astro.params.id;
const { mainListing, listing } = findListingById(data, id);
const relatedListings = getRelatedListings(data)
---

<Default data={data}>
  <div slot="pageCustom">
    <div id="main-wrapper" class="mainContent">
      <div class="text-content">
        <div class="property-detail-container">
          <!-- Mobile image slider -->
          <ImageSlider gallery={listing.gallery || []} />

          <!-- Content -->
          <div class="detail-container">
            <div class="left-column">
              <div class="content-header">
                <div class="status">
                  <span class="dot"></span> {mainListing.status}
                </div>
                <h2>{mainListing.price}</h2>
                <p>{mainListing.location}</p>
                <p>{mainListing.subStats}</p>
              </div>
              <div class="separator-dark"></div>
              <div class="content-description">
                <div class="content-left">
                  <ul class="property-stats no-padding"></ul>
                </div>
                <div class="content-right">
                  <div class="property-description">
                    <p id="description">
                      {listing.detail_description}
                  </div>
                </div>
              </div>
              <div class="map">
                <h2>Map</h2>
                <iframe
                  src={listing.map.iframe_src}
                  width="100%"
                  height="20%"
                  style="border: 0;"
                  allowfullscreen
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
                <p class="map-address">{listing.location}</p>
              </div>
              <div class="separator-dark"></div>
              <div class="property-facts">
                <h2>PROPERTY FACTS</h2>
                <div class="facts-container">
                  {listing.property_facts.map((fact) => (
                    <div class="fact-item">
                      <span class="fact-label">{fact.label}:</span>
                      <span class="fact-value">{fact.value}</span>
                    </div>
                  ))}
                </div>
              </div>
            </div>
            <div class="right-column">
              <div class="agent-card">
                <div class="agent-details">
                  <h3 class="agent-name">{data.agent.name}</h3>
                  <div class="agent-info">
                    <div class="mobile-info row-info">
                      <p class="label">Mobile number</p>
                      <p class="value">{data.agent.phone}</p>
                    </div>
                    <hr />
                    <div class="email-info row-info">
                      <p class="label">Email</p>
                      <p class="value">{data.agent.email}</p>
                    </div>
                  </div>
                </div>
                <div class="agent-contact">
                  <a
                    href="/us/ga/decatur/real-estate-agents/contact"
                    class="btn-primary"
                  >
                    Contact agent
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="separator-dark"></div>
          <!-- Similar homes -->
          <div class="related-listings">
            <h2>Similar Properties</h2>
            <div class="related-listings-grid">
              {relatedListings.slice(0, 4).map((related) => (
                <div class="related-listing-card" key={related.id}>
                  <a href={related.link}>
                    <img
                      src={related.image}
                      alt={`Image of ${related.location}`}
                    />
                    <div class="status">
                      <span class="dot"></span> {related.status}
                    </div>
                    <h2>{related.price}</h2>
                    <p class="location">{related.location}</p>
                    <p class="sub-stats">{related.subStats}</p>
                  </a>
                </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Default>
