---
const { nav1, nav2 } = Astro.props;
---

<nav class={`navbar ${Astro.props.class || ''}`} id="navbar">
    <div class="navlink" id="navlink">
        <!-- First Navigation Section -->
        <ul class="nav-item">
            {nav1.map((item: { path: string; icon?: string; label: string }) => (
                <li class={`nav-item ${Astro.url.pathname.includes(item.path) ? 'active' : ''}`}>
                    <a href={item.path} class="nav-item-link">
                        {item.icon && <img src={item.icon} alt={`${item.label} icon`} class="nav-icon" />}
                        <span>{item.label}</span>
                    </a>
                </li>
            ))}
        </ul>

        <!-- Second Navigation Section -->
        <ul class="nav-item">
            {nav2.map((item: { path: string; icon?: string; label: string }) => (
                <li class={`nav-item ${Astro.url.pathname.includes(item.path) ? 'active' : ''}`}>
                    <a href={item.path} class="nav-item-link">
                        {item.icon && <img src={item.icon} alt={`${item.label} icon`} class="nav-icon" />}
                        <span>{item.label}</span>
                    </a>
                </li>
            ))}
        </ul>
    </div>
</nav>
