---
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
interface Testimonial {
  quote: string;
  author: string;
}
const testimonials: Testimonial[] = data.testimonials
const truncatedText = testimonials.map((t) => t.quote,
);
---
<Default data={data}>
    <div slot="pageCustom">
        <div class="mainContent" id="main-wrapper">
            <h1>Customer Testimonials</h1>
            <div class="text-content scroll-content">
                <div class="testimonials-container">
                    <h2>See why my clients love to work with me</h2>
                    {
                        testimonials && testimonials.length > 0 ? (
                            <section class="testimonials">
                                {testimonials.map((testimonial, index) => (
                                    <article class="testimonial">
                                        <blockquote>
                                            <svg
                                                class="blockquote-svg"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 64 64"
                                                width="40"
                                                height="40"
                                            >
                                                <g>
                                                    <g>
                                                        <path d="M13.934,24.89c7.932,0.121,8.71,8.353,8.71,8.353c0.278,6.224-4.863,10.789-10.637,10.789 C5.015,44.033,0,38.258,0,29.14v-0.608C0,17.894,4.99,7.953,21.016,0l2.873,4.897c0,0-14.934,5.706-15.986,19.992H13.934z" />
                                                    </g>
                                                    <g>
                                                        <path d="M44.044,24.89c7.932,0.121,8.71,8.353,8.71,8.353c0.278,6.224-4.863,10.789-10.637,10.789 c-6.991,0-12.006-5.774-12.006-14.893v-0.608C30.11,17.894,35.1,7.953,51.127,0L54,4.897c0,0-14.934,5.706-15.986,19.992H44.044z" />
                                                    </g>
                                                </g>
                                            </svg>
                                            <p
                                                id={"quote-" + index}
                                                class="quote"
                                            >
                                                {truncatedText[index]}
                                            </p>
                                                <span
                                                    id={`readMore-${index}`}
                                                    class="read-more"
                                                    data-index={index}
                                                >
                                                </span>
                                            <cite>— {testimonial.author}</cite>
                                        </blockquote>
                                    </article>
                                ))}
                            </section>
                        ) : (
                            <div>
                                <p>No testimonials found.</p>
                            </div>
                        )
                    }
                </div>
            </div>
        </div>
    </div>
</Default>
<style>
    @media (min-width: 600px) {
        .testimonials {
            padding: 0 2rem 2rem !important;
        }
    }
    .quote {
        text-align: center;
        padding-top: 0;
    }
    .blockquote-svg {
        fill: #999;
    }
    .testimonials-container h2 {
        text-align: left;
        font-weight: 500;
    }
    .testimonials {
        display: flex;
        flex-direction: column;
    }
    .testimonial {
        padding: 20px 0;
    }
    .testimonial blockquote {
        color: #555;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    cite {
        font-size: 0.8rem;
        font-weight: bold;
        font-style: normal;
    }
</style>
