---
import ImageSlider from "../src/astro/components/ImageSlider.astro";
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
import { generateStaticPaths, findListingById } from "src/scripts/property.details/listing";
import PropertyDetailsPage from "src/astro/components/PropertyDetailsPage.astro";
import RelatedListings from "src/astro/components/RelatedListings.astro";

export function getStaticPaths() {
  return generateStaticPaths(data);
}

const id = Astro.params.id;
const { mainListing, listing } = findListingById(data, id);
const currentId= Number(Astro.params.id)
const contentType = listing.property_facts ? "facts" : "details"
---

<Default data={data}>
  <div slot="pageCustom">
    <div id="main-wrapper" class="mainContent">
      <div class="text-content">
        <div class="property-detail-container">
          <!-- Mobile image slider -->
          <ImageSlider gallery={listing.gallery || []} />

          <!-- Content -->
          <PropertyDetailsPage mainListing={mainListing} listing={listing} data={data} contentType={contentType}/>

          <!-- Similar homes -->
          <RelatedListings data={data} currentId={currentId}/>
        </div>
      </div>
    </div>
  </div>
</Default>
