---
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
---

<Default data={data}>
    <div slot="pageCustom">
        <div class="mainContent no-scroll-content" id="main-wrapper">
            <h1>{data.luxury_properties.title}</h1>
            <div class="text-content scroll-content">
                <div class="luxury-container">
                    <p class="locni-description">
                        {data.luxury_properties.description}
                    </p>
                    <div class="luxury-features">
                        {data.luxury_properties.features.map(feature => (
                            <div class="bottom-line"></div>
                            <div>
                                <h3>{feature.title}</h3>
                                {feature.description && <p>{feature.description}</p>}

                                {feature.items && (
                                <ul class="padding-top">
                                    {feature.items.map(item => (
                                    <li>
                                        <strong>{item.title}:</strong> {item.description}
                                        {item.subitems && (
                                        <ul>
                                            {item.subitems.map(subitem => (
                                            <li>{subitem}</li>
                                            ))}
                                        </ul>
                                        )}
                                    </li>
                                    ))}
                                </ul>
                                )}
                            </div>
                        ))}
                    </div>
                    <div class="padding-top flex-gap">
                        {data.luxury_properties.buttons.map(button => (
                            <a class="btn-primary" href={button.url}>{button.text}</a>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </div>
</Default>

<style>
    .luxury-container h3 {
        font-size: 1.5rem;
        color: #333;
        margin-top: 15px;
    }
    .luxury-container p {
        text-align: justify;
    }
    .luxury-features ul {
        margin: unset;
        text-align: left;
    }
    .luxury-features ul li {
        margin-bottom: 10px;
    }
</style>
