---
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
---

<Default data={data}>
    <div slot="pageCustom">
        <div class="mainContent" id="main-wrapper">
            <h1>{data.buying.title}</h1>
            <div class="text-content scroll-content">
                <div class="buying-container locni-section">
                    <div class="locni-text-bigger-font locni-section-content">
                        <p class="no-padding">
                            {data.buying.description}
                        </p>
                        <p>
                            {data.buying.details}
                        </p>
                        <div class="btn-outline">
                            {data.buying.buttons.map(button => (
                                <a href={button.url}>{button.text}</a>
                            ))}
                        </div>
                    </div>
                    <div class="locni-section-img">
                        <img
                            src={data.buying.image.src}
                            alt={data.buying.image.alt}
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</Default>
